@mixin desktop {
    @media screen and (min-width: 900px) {
        @content;
    }
}


@mixin tablet {
    @media screen and (min-width: 480px) and (max-width: 900px) {
        @content;
    }
}

@mixin grid($col, $justify, $align, $gap) {
    display: grid;
    grid-template-columns: repeat($col minmax(1fr, 250px));
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin flex($justify, $align, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}