:root {
    --color1: #2C3639;
    --color2: #3F4E4F;
    --color3: #A27B5C;
    --color4: #DCD7C9;

    // Basics
    --black: #000;
    --white: #e1e1e1;
    --purewhite: #fff;



    // Brand
    --facebook: #1877f2;
    --instagram: #e1306c;
    --youtube: #ff0000;
}