.header {
    width: 100%;
    height: auto;
    background-color: var(--color1);

    .socials__header {
        width: 100%;
        height: auto;
        padding: 0.5rem;

        @include flex(center, center, 5rem);
        font-size: 1.3em;
        color: var(--color4);

        @include desktop {
            width: 80%;
            @include flex(flex-end, center, 5rem);

        }

        ion-icon {
            font-size: 2.5rem;
            transition: all linear 0.2s;

            &:nth-child(1):hover {
                transition: all linear 0.2s;
                color: var(--facebook);
            }

            &:nth-child(2):hover {
                transition: all linear 0.2s;
                color: var(--instagram);
            }

            &:nth-child(3):hover {
                transition: all linear 0.2s;
                color: var(--youtube);
            }
        }


    }
}